/*este es un selector universal*/
*{
    /*font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:midnightblue ;*/
}
body{
    background-color: rgb(155, 208, 229);
}
/*esto le pone color a las letritas*/
h2{
    color: snow;
    background-color:midnightblue;
    /*  background-color:coral; 
    esto le pone un fondo a las letras*/
}

/*selectores de id y de clase*/
#navIndex{
    background-color: slateblue;
    /*font-family: Georgia, 'Times New Roman', Times, serif;*/
    color:darkblue;
}

.views{
    color:orchid;
}

/*selectores de atributos
usados mas que todo para formularios */

input[ type = "text"]{
    padding: 10px;
}


input[type="submit"]{
    background-color: green;
    color: white;
}

/*selectores hijo*/


#navIndex > li > a{
    color: red;
}

.card #title{
    font-size: 40px; /*tamanio de las letras*/
    font-family: Helvetica; /*estilo de las letras*/
    font-style: italic; /**/
    line-height: 70px; /*espacio entre lineas*/
    letter-spacing: 5px; /*espacio entre letras*/
    text-decoration: underline; /*subrayado*/
    text-transform: capitalize; /*para mayusculas y minusculas*/
    text-align: center;/*alinear nuetro texto al lado de preferencia*/

}

p{
    font-weight: bold;
}



/*otro tipo de letras personalizadas de google fonts*/
/*colocar al principio del css como buena practica*/
@font-face {
    font-family: Sevillana;
    src: url( /Fonts/Sevillana-Regular.ttf );
}

body{
    font-family: 'Sevillana', sans-serif;
    background-image: url(/Imagenes/bananas.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;/*para mantener la imagen estatica y el contenido sigue bajando*/
    /*background: linear-gradient(135deg, red, blue); para ir degradando un color de izquierda a derecha*/
}
/*colocar al principio del css como buena practica*/



/*se puede aniadir colores mediante su nombre, hexadecimal, rgb,rgba*/


/*Fondos
-buscar patrones background, descargar y usar xd
background-image: url(/Imagenes/bananas.jpg);
*/
